
/* Toastr */
#toast-container>div {
    border-radius: 15px 15px 15px 15px;
}

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #399E5A;
}

.toast-error {
    background-color: #8B2635;
}

.toast-info {
    background-color: #8DDBE0;
}

.toast-warning {
    background-color: #ECC30B;
}

/* 
Error/Danger : #8B2635
Primary : #067BC2
Success : #399E5A
Info : #17BEBB
Warning : #ECC30B
*/